@import '../../styles/colors.scss';
@import '../../styles/vars.scss';

.black-note {
  flex-shrink: 0;
  cursor: pointer;
  width: $black-note-width;
  height: $black-note-height;
  background: $black;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  top: 0;
  left: calc(var(--offset) * #{$white-note-width});
  transform: translateX(-50%);
  z-index: 2;
}

.value {
  position: absolute;
  bottom: 8px;
  font-size: 14px;
  line-height: 1.5;
  color: $white;
  left: 50%;
  transform: translateX(-50%);
}