@import '../../styles/colors.scss';
@import '../../styles/spacing.scss';
@import '../../styles/typo.scss';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  padding: $spacing-m $spacing-xl;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  background-color: $white;
  color: $black;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    border 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  @include typo-text;

  &_selected {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: $highlight-mask;
      border-radius: inherit;
    }
  }

  &_stretched {
    width: 100%;
  }

  &_content {
    &_shrinked {
      justify-content: space-between;
    }

    &_start {
      justify-content: flex-start;
    }
  }

  &:hover {
    background-color: darken($white, 6%);
  }

  &:active {
    background-color: darken($white, 10%);
  }

  &:disabled {
    background-color: darken($white, 2%);
    color: $gray-dark;
    cursor: not-allowed;
  }
}
