.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.button-group {
  display: flex;
  gap: 12px;
}