@import '../../../../styles/colors.scss';
@import '../../../../styles/vars.scss';

.key {
  cursor: pointer;
  border-radius: 0px 0px 10px 10px;
  user-select: none;
  transition: background-color 100ms linear;

  &_highlighted {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: $highlight-mask;
      z-index: 3;
      border-radius: inherit;
    }

    &-intense {
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: $highlight-intense-mask;
        z-index: 3;
        border-radius: inherit;
      }
    }
  }

  &_white {
    width: $white-note-width;
    height: $white-note-height;
    background: $white;
    border: 0.5px solid $black;

    &_pressed {
      background: darken($white, 10%);
    }
  }

  &_black {
    width: $black-note-width;
    height: $black-note-height;
    background: $black;

    &_pressed {
      background: darken($black, 10%);
    }
  }
}

.value {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  &_white {
    bottom: 12px;
    font-size: 16px;
    line-height: 1.4;
    color: $black;
  }

  &_black {
    bottom: 8px;
    font-size: 14px;
    line-height: 1.5;
    color: $white;
  }
}
