@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.background {
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  z-index: 10;
  background-color: transparent;
  transition: background-color 200ms linear;

  &_shown {
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.popover {
  pointer-events: none;
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: lighten($gray-light, 5%);
  transform: translateX(100%);
  transition: transform 200ms linear;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  &_shown {
    pointer-events: all;
    transform: translateX(0);
  }

  @include mobile {
    width: 100vw;
  }
}

.header {
  height: 48px;
  border-bottom: 0.5px solid $gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: $black;
}

.content-container {
  flex-grow: 1;
  padding: 0 12px;
  overflow-y: scroll;
}

.content {
  padding-top: 12px;
}
