// @todo all values to vars
$typo-text-font-size: 16px;
$typo-label-font-size: 14px;

@mixin typo-title {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 700;
}

@mixin typo-text {
  font-size: $typo-text-font-size;
  line-height: 1.5;
}

@mixin typo-label {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
}

@mixin typo-mini-label {
  font-size: 8px;
  line-height: 1.2;
}
