@use '../../styles/colors.scss' as colors;

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  padding: 24px;
  border-radius: 24px;
  background-color: colors.$gray;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
}