@import '../../styles/colors.scss';
@import '../../vars/colors.scss';

.header {
  width: 100%;
  height: $header-height;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: $black;
}

.actions {
  display: flex;
  gap: 12px;
}